@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $mainFont;
}

body {
  min-width: 320px;
  background: $bodyBg;
  font-size: 12px;
  line-height: 1.2;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

button, select {
  cursor: pointer;
}

input:not([type="submit"]),
textarea,
select{
  width: 100%;
  height: 47px;
  margin-bottom: 12px;
  padding: 0 12px;
  border: 1px solid #8B97B5;
  font-family: $mainFont;
  font-size: 14px;
  color: $black;
  border-radius: 10px;
  background: transparent;
  @include placeholder {
    font-family: $mainFont;
    color: #8B97B5;
  }
}

textarea {
  padding: 15px 12px;
  height: 94px;
  resize: none;
}

select {
  appearance: none;
}

.heading {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}


select {
  background: url('@/assets/icons/select.svg') center right 12px no-repeat;
}


.btn {
  background: $blue;
  border: 0;
  padding: 0 17px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
  &-exit {
    background: transparent;
    border: 1px solid #FD5959;
    color: #000;
  }
  &-white {
    background: transparent;
    border: 1px solid $blue;
    color: #000;
  }
}

.block {
  background: $white;
  padding: 16px 12px;
  border-radius: 10px;
  position: relative;
}

label {
  display: flex;
  margin-bottom: 10px;
  color: #8B97B5;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.checkbox-icon {
  background: #F0F0FF;
  width: 40px;
  height: 21px;
  border-radius: 40px;
  position: relative;
  span {
    position: absolute;
    left: calc(100% - 21px);
    top: 0;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: $blue;
    transition: all .5s ease;
  }
  &.hidden {
    span {
      left: 0;
      background: #8B97B5;
    }
  }
}

.form-time {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 7px 1fr;
  gap: 4px;
  margin-bottom: 20px;
  input {
    margin: 0;
  }
  span {
    font-size: 14px;
  }
}

.descr {
  font-size: 14px;
  margin-bottom: 12px;
}

.status {
  height: 16px;
  border-radius: 60px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 0 6px;
  &.in-progress {
    background: #F0C321;

  }
}