@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Inter", sans-serif;
}

body {
  min-width: 320px;
  background: #F3F3FC; 
  font-size: 12px;
  line-height: 1.2;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

button {
  cursor: pointer;
}