$blue: #175fff;
$white: #fff;
$black: #000;
$bodyBg: #f3f3fc;

$mainFont: "Inter", sans-serif;

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
