$blue: #175FFF;
$white: #fff;
$black: #000;
$bodyBg: #fff; //var(--tg-theme-bg-color);

$mainFont: "Inter", sans-serif;

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
