.addCardForm {
  margin-top: 16px;

  &__head {
    border-radius: 10px;
    background: $white;
    padding: 16px 12px;
    margin-bottom: 24px;
  }

  &__photo {
    margin-bottom: 12px;
    label {
      width: 100px;
      height: 100px;
      border: 1px solid #8B97B5;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    input[type="file"] {
      display: none;
    }
  }

  &__body {
    margin-bottom: 24px;
  }

  &__time {
    margin-bottom: 12px;
    background: $white;
    border-radius: 10px;
    padding: 16px 12px;
  }
}

